
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><img id="smallPic" src="https://scontent.fbkk4-1.fna.fbcdn.net/v/t1.0-9/120153578_201639148007144_3462408038229419240_n.jpg?_nc_cat=1&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEEM2dE9iuesVAvV5rphHyHWvFETgzcwVZa8URODNzBVlB_L6TnrANCqiiPPBgcF-5Ccpr98pLsHt77gi8LO2QH&_nc_ohc=TfBjccVytDQAX9m7mYm&_nc_ht=scontent.fbkk4-1.fna&oh=deadd41d9cd6399fb104d86499edeacd&oe=6007D1F0"/> ROSÉ Blackpink</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
   
    <img id="largePic" src="https://scontent.fbkk4-1.fna.fbcdn.net/v/t1.0-9/130824883_234149391422786_8524907623648095505_o.jpg?_nc_cat=1&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeHqS6qSQyE7DJJdMrvh6xy1N0A4L-LXOmI3QDgv4tc6YgaOUpY1bJbbOUzhQim7kTCehy9dRXIZU3UCu5OeaAz2&_nc_ohc=Dv-ZCexoVUsAX-2Q-VM&_nc_ht=scontent.fbkk4-1.fna&oh=f6a9ad0c366cd689b5a989f3a9571774&oe=6004B7D3" class="card-img-bottom" alt="rose">
  <div class="comment">
        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="comment-alt" class="svg-inline--fa fa-comment-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288z"></path></svg><p>Comment</p>
  </div>
</div>